<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite_LR11" parallel="tests" thread-count="3">

    <test name="Grouping tests - update">
        <groups>
            <run>
                <include name="update"/>
            </run>
        </groups>
        <classes>
            <class name="JiraUITest"/>
        </classes>
    </test>

    <test name="Grouping tests - issue">
        <groups>
            <run>
                <include name="issue"/>
            </run>
        </groups>
        <classes>
            <class name="JiraUITest"/>
        </classes>
    </test>

    <test name="Grouping tests - login">
        <groups>
            <run>
                <include name="login"/>
            </run>
        </groups>
        <classes>
            <class name="JiraUITest"/>
        </classes>
    </test>

</suite>
<!--
 <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel test suite" parallel="methods" thread-count="2" >


    <test name="Issue">
        <classes>
            <class name="JiraUITests.JiraUI"/>
        </classes>
    </test>

</suite>
 -->